.header{
height: 10%;
display: flex;
align-items: center;
background-color:antiquewhite;
position:-webkit-sticky;
top : 0;
z-index:100;
}
.header_logo{
    width: 5%;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 20;
    border-style: solid;
}
.header_schoolName{
    color:coral;
    font-size: 5%;

    
}
